<div class="p-4 shadow rounded grid">
	<div>
		<!-- Categories -->
		<div class="flex flex-wrap items-center gap-2 mb-5">
			<!-- Category Item -->
			<div class="flex py-2 px-8 bg-blue-600 text-xs text-white relative">
				<p>title</p>
				<button class="absolute left-2">
					<fa-icon [icon]="removeIcon"></fa-icon>
				</button>
				<button class="absolute right-2">
					<fa-icon [icon]="editIcon"></fa-icon>
				</button>
			</div>
		</div>
    
		<!-- Category Form -->
		<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
			<input type="text" placeholder="Category name..." class="input w-full" formControlName="title" required />
      <button type="submit" class="btn btn-green mt-2 w-full flex">Submit</button>
		</form>
	</div>
</div>
